@charset "UTF-8";

html {
	width : 100%;
	height : 100%;
	overflow : hidden;
	
}

body {
	width : 100%;
	height : 100%;
	overflow : auto;
}

body .container {
	height : 100%;
	display: flex;
}

a {
 text-decoration: none;	
 color : #000000;
	
}

body button {
	cursor : pointer;
	
}

li {
	list-style : none;
	
}

.left_container {
	width: 60%;
	height : 100%;
	background: url("/resources/image/lmg_01.jpg") no-repeat center 340px;
	background-size: 70%;
}

.right_container {
	width: 40%;
	height : 100%;
}

.right_container .wrap_login {
	margin-top : 300px;
	border: 1px solid;
	width: 81%;
	height: 35%;
	border-radius: 15px;
}

.wrap_login {
	
}

.wrap_login ul {
  margin-top : 100px;	
	
}

.wrap_login ul > li {
  margin-bottom : 10px;
  display: table;
  border: 1px solid;
  width: 90%;
  height: 40px;
}

.wrap_login ul>li>input {
	height: 67%;
	width: 98%;
	border: none;
	background: #e8f0fe;
	margin-top: 6px;
	font-size: 16px;
}

.wrap_login ul>li>span:nth-child(3){
	background: url("/resources/image/x_icon.png") no-repeat 10px;
	background-size: 11px;
	width: 30px;
	display: table-cell;
}

.wrap_login ul>li:nth-child(1)>span:nth-child(1){
	background: url("/resources/image/id_icon.png") no-repeat 6px;
	background-size: 16px;
	width: 30px;
	display: table-cell;
}


.wrap_login ul>li:nth-child(2)>span:nth-child(1) {
	background : url("/resources/image/password_icon.png") no-repeat 6px;
	background-size: 16px;
	width: 30px;
	display: table-cell;
}



.login_input ul {
	display : flex;
	margin : 0;
	width: 82%;
}

.login_input ul>li {
	
	border : none;
	width : 90%;
}

.login_input ul>li:nth-child(1) {
	
	margin-right : 16px;
}

.login_input ul>li>div  {
	width : 100%;
	height : 30px;
	background: transparent;
	border-radius: 20px;
	border: 1px solid;
	font-weight: bold;
	font-size : 22px;
	text-align : center;
}

.login_input ul>li>button:hover {
	 background : #000000;
	 color : #ffffff;
	
}

.popup {
	width : 100%;
}

.popup table {
	width : 100%;
	height : 95%;
	
}

.popup table>tbody>tr {
	height : 40px;
	
}

.popup table>tbody>tr>th {
	width : 200px;
	background : #5a5858;
}

.popup table>tbody>tr:not(:first-child)>td>div {
	
	height : 100%;
	border-bottom : 1px solid #0000006e !important;
	border-top : 0 !important;
}

.popup table>tbody>tr>td>div:nth-child(1) {
	
	border-top : 1px solid;
	height : 100%;
	border-bottom : 1px solid #0000006e;
}

.popup table>tbody>tr>td>div:nth-child(n) >input {
	
	margin-top : 7px;
}

.popup table>tbody>tr>td>div:nth-child(n) >form >input{
	
	margin-top : 7px;
}

.popup table>tbody>tr>td>div:nth-child(n) > button {
	background: url("/resources/image/icon_01.png") 3px no-repeat;
	width: 25px;
	height: 20px;
	background-size: 15px;
	padding-bottom: 3px;
}

.popup div>ul{
	display : flex;
	place-content : center;
	
}

.popup div>ul>li{
	margin-right : 60px;
	width : 130px;
	
}

.popup div>ul>li>div{
	width : 100%;
	height : 30px;
	background: transparent;
	border-radius: 20px;
	border: 1px solid;
	font-weight: bold;
	font-size : 20px;
	text-align : center;
	
}


.address_popUp {
	width : 100%;
	height : 100%;
	
}

.address_popUp .address_head {
	display : flex;
	justify-content : center;
	margin-top : 30px;
	height : 100px;
}

.address_popUp .address_head .address_span {
	width : 50px;
	border : 1px solid;
	text-align : center;
	margin-right : 10px;
	height : 25px;
	font-weight: bold;
}

.address_popUp .address_head >input {
	height :22px;
	width : 300px;
}

.address_popUp .address_head button {
	width : 30px;
	height : 28px;
	background : url("/resources/image/icon_01.png") 2px no-repeat #ffffff;
	background-size : 20px;
	
}


.mainHeder {
	position: relative;
	width: 1900px;
	height: 41px;
	display: flex;
	border: 1px solid;
	background: #000;
}

.mainHeder span{
	color:#fff;
	font-size : 15px;
}
.mainHeder b {
	font-size: 24px;
    text-decoration: underline;
    margin-left: 3px;
}

.mainHeder form>div {
    position: absolute;
    top: 9px;
    display: flex;
    left: 77%;
}

.mainHeder form>div:nth-child(2) {
	left: 1500px;
}

.mainHeder form>div input {
	margin-right: 7px;
    width: 120px;
}


.mainHeder form>div>a {
	border: 1px solid;
    border-radius: 3px;
    background: #4daef3;
    color: #fff;
    font-weight: bold;
    width: 61px;
    text-align: center;
    height: 23px;
} 

.mainHeder form>div>a:last-child {
    width: 73px;
    margin-left: 6px;
} 

.mainHeder p{
	font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 0px;
}

.mainMiddle {
	height: 407px;
	position: relative;
	top: 11px;
	width: 1861px;
	background: #9d9d9d54;
	border-radius: 4px;
	left: 19px;
}

.mainTheme {
	height: 260px;
	background-color: #dfdfdf42;
	position: relative;
	top: 7px;
}

.mainTheme p {
	float : left;
	font-size: 24px;
    position: relative;
    top: -22px;
    font-weight: bold;
    font-family: monospace;	
}

.mainTheme .mainThemeHead input{
	height: 21px;
	margin-top: 7px;
}

.mainTheme .mainThemeDiv {
	float : right;
	margin-top: 4px;
	margin-right: -19px;
}

.mainTheme div:nth-child(1)  button{
	right: 28px;
	position: relative;
	background: url(/resources/image/search.png) 1px no-repeat;
	height: 16px;
	width: 21px;
	background-size: 16px;
	border: none;
	top: 1px;
}

.mainThemeHead {
	width: 100%;
    height: 50px;
}

.mainThemedMiddle {
	width: 1845px;
	height: 33px;
	border: 1px solid #b5b5b575;
	background: #fff;
	margin-left: 7px;
	display:flex;
	position: relative;
	bottom: 28px;
}

.mainThemedMiddle .middleHead {
	width: 100px;
}

.mainThemedMiddle .middleHead span {
	float: left;
    font-size: 20px;
    font-weight: bold;
    color: #b1b1b1;
}

.mainThemedMiddle .middleMain {
	width : 1743px;
}

.mainThemedMiddle .middleMain table td:not:first-child{
	padding-left: 13px;
} 

.mainThemedMiddle .middleMain table td button {
	width: 82px;
	font-weight: bold;
	background: #fff;
	border: none;
	font-size: 15px;
}

.mainThemedMiddle .middleMain table td button.active {
	background : #fff703;
}

.mainThemedMiddleTwo {
	width: 1845px;
	height: 61px;
	border: 1px solid #b5b5b575;
	background: #fff;
	margin-left: 7px;
	display:flex;
	position: relative;
	bottom: 19px;
}
.mainThemedMiddleTwo .middleHeadTwo {
	width: 100px;
}

.mainThemedMiddleTwo .middleHeadTwo span {
	float: left;
    font-size: 20px;
    font-weight: bold;
    color: #b1b1b1;
}

.mainThemedMiddleTwo .middleMainTwo {
	width : 1743px;
}

.mainThemedMiddleTwo .middleMainTwo table td:not:first-child{
	padding-left: 13px;
} 

.mainThemedMiddleTwo .middleMainTwo table td button {
	width: 82px;
	font-weight: bold;
	background: #fff;
	border: none;
	font-size: 15px;
}

.mainThemedMiddleTwo .middleMainTwo table td button.active {
	background : #fff703;
}

.mainThemedMiddleThree {
	width: 1000px;
	height: 34px;
	border: 1px solid #b5b5b575;
	background: #fff;
	margin-left: 7px;
	display:flex;
	position: relative;
	bottom: 10px;
}

.mainThemedMiddleThree .mainThemedMiddlSubOne {
	width: 600px;
	display: flex;
}

.mainThemedMiddleThree .mainThemedMiddlSubTwo {
	width: 600px;
	display: flex;
}

.mainThemedMiddleThree .middleHeadThree {
	width: 100px;
}

.mainThemedMiddleThree .middleHeadThree span {
	float: left;
    font-size: 20px;
    font-weight: bold;
    color: #b1b1b1;
}

.mainThemedMiddleThree .middleMainThree {
	width: 400px;
}

.mainThemedMiddleThree .middleMainThree table td:not:first-child{
	padding-left: 13px;
} 

.mainThemedMiddleThree .middleMainThree table td button {
	width: 82px;
	font-weight: bold;
	background: #fff;
	border: none;
	font-size: 15px;
	right: 0;
	height: 22px;
}

.mainThemedMiddleThree .middleMainThree table td:last-child button{
	width : 96px;
}

.mainThemedMiddleThree .middleMainThree table td button.active {
	background : #fff703;
}


.mainThemedMiddleFour {
	width: 1100px;
	height: 34px;
	border: 1px solid #b5b5b575;
	background: #fff;
	margin-left: 7px;
	display:flex;
	position: relative;
	bottom: 1px;
}

.mainThemedMiddleFour .mainThemedMiddlSubOne {
	width: 750px;
	display: flex;
}

.mainThemedMiddleFour .mainThemedMiddlSubTwo {
	width: 422px;
	display: flex;
}

.mainThemedMiddleFour .middleHeadFour {
	width: 100px;
}

.mainThemedMiddleFour .middleHeadFour span {
	float: left;
    font-size: 20px;
    font-weight: bold;
    color: #b1b1b1;
}

.mainThemedMiddleFour .middleMainThree {
	width: 400px;
}

.middleMainFour {
	padding-top : 2px;
}

.mainThemedMiddleFour .middleMainFour table td:not:first-child{
	padding-left: 13px;
} 

.mainThemedMiddleFour .middleMainFour table td button {
	width: 82px;
	font-weight: bold;
	background: #fff;
	border: none;
	font-size: 15px;
	right: 0;
	height: 22px;
}


.mainThemedMiddleFour .middleMainFour table td button.active {
	background : #fff703;
}

.mainPagination {
	position: relative;
	top: 4%;
	background: #dfdfdf42;
	height: auto;
	display: inline-block;
	width: 100%;
}

.mainPagination .pageing {
	height: 200px;
}

.mainPagination .pageing .imageDiv {
	float: left;
	height: 345px;
	width: 210px;
	background-size: 210px !important;
	margin-left: 130px;
	margin-top: 12px;
}
.mainPagination .pageing .imageDiv div {
	position : absolute;
	bottom: 9px;
}

.mainPagination .pageing .imageDiv button {
	border: none;
	width: 100px;
	background: rgb(133, 122, 255);
	font-weight: bold;
	color: rgb(255, 255, 255);
	height: 30px;
}

 .pageInfo {
	width: auto;
	height: auto;
	background: #7baaff;
	border-radius: 6px;
	text-align : center;
	border: 1px solid #000;
	position : absolute;
	color: #fff;
}
  
 .pageInfo span {
	font-size: 15px;
}

.pageInfo div b{
	padding-left : 5px;
}

 .pageInfo div:last-child b {
	color: #f00;
}

.btnInfo {
	position : absolute;
	width: 130px;
	height : 100px;
	background: #e8e6fb;
}